<?xml version="1.0" encoding="utf-8"?>
<compress>
  <!--文件压缩设置-->
  <!--<add key="Set_Css4" value="" />
  <add key="Set_Css3" value="" />-->

  <add key="Set_Css2" value="~/CSS/jquery-ui-1.8.2.custom.css,
                            ~/CSS/ui.jqgrid.css,
                            ~/CSS/ui.jqgrid-bootstrap.css,
                            ~/CSS/AfterCommon.css,
                            ~/CSS/master.css"/>

  <add key="Set_Css1" value="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css,
                            ~/control/layer/skin/layer.css
                            " />

  <!--<add key="Set_Css5" value="~/CRM/Css/boot.css,
                            ~/CRM/Css/buttons.css,
                            ~/CRM/JQuery/plugin/fancybox/fancybox/jquery.fancybox-1.3.4.css"/>

  <add key="Set_Css6" value="~/CRM/JQuery/plugin/menu/menu.css"/>-->

  <!--通用-->
  <add key="Set_Javascript" value="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js,
                                    ~/jquery/jquery.query-2.1.7.js,
									~/jquery/jquery.jqGrid.js,
									~/jquery/grid.locale-cn.js,
									~/jquery/json2.js,
									~/control/layer/layer.js,
									~/control/JS/JSCommon.js,
									~/control/JS/JSCommonForAlter.js,
                  ~/jquery/JSAdvQuery.js
                  "/>

  <!--只有default.aspx页用到-->
  <add key="Set_defaultJavascript" value="~/CRM/JQuery/jquery-1.6.4.js,
									~/CRM/JQuery/jquery-ui.js,
									~/CRM/JQuery/jquery.query-2.1.7.js,
									~/CRM/Js/JSSpliter.js,
									~/CRM/Js/JSPanel.js,
									~/CRM/Js/JSSelector.js,
									~/CRM/Js/JSLeftMenu.js,
									~/CRM/Js/JSFilterInput.js,
									~/CRM/JQuery/jquery.layout.js,
									~/CRM/JQuery/grid.locale-en.js,
									~/CRM/JQuery/ui.multiselect.js,
                  ~/CRM/JQuery/js/i18n/grid.locale-cn.js,
									~/CRM/JQuery/Js/grid.base.js,
									~/CRM/JQuery/Js/grid.common.js,
									~/CRM/JQuery/Js/grid.formedit.js,
									~/CRM/JQuery/Js/grid.inlinedit.js,
									~/CRM/JQuery/js/grid.custom.js,
									~/CRM/JQuery/js/jquery.fmatter.js,
									~/CRM/JQuery/js/grid.jqueryui.js,
									~/CRM/Js/JSGridCommon.js,
									~/CRM/Js/JSSearcher.js,
									~/CRM/Js/JSToolbarManager.js,
                  ~/CRM/Js/JSGridWithAdvQuery.js,
									~/CRM/JQuery/jquery.bgiframe.js,
									~/CRM/JQuery/jquery.menu.js,
                  ~/CRM/js/JSMenu.js,
									~/CRM/Js/JsUploadImage.js,
									~/CRM/Js/JSUploadControl.js,
                  ~/CRM/Js/JSUploadAttachmentControl.js,
									~/CRM/Js/JSAdvQuery.js,
									~/CRM/Js/JSDynamicLoadIFrame.js,
									~/CRM/Js/JSbasic.js,
									~/CRM/Js/JsValidDataType.js,
									~/CRM/Js/JSUnit.js,
									~/CRM/Js/JsUtility.js,
									~/CRM/Js/JSHandlerCommon.js,
									~/CRM/JScript.js,
									~/CRM/Js/JSDefaultPage.js,
									~/CRM/Js/jquery.ConSocket.js,
									~/CRM/js/JsSync.js,
									~/CRM/Js/JSCustomerPage.js,
                  ~/CRM/Js/JsGlobeSearchPage.js,
                  ~/CRM/Js/jquery.noty.packaged.min.js,
                  ~/CRM/Js/jsmessagebox.js
									"/>
</compress>