<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="ioc.servicelocator" type="DAL.ServiceLocatorConfigurationSection" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="AFaneTiConectStr" connectionString="Data Source=47.104.129.130;Initial Catalog=RPShoping;User ID=sa;Password=Sql2014;MultipleActiveResultSets=true;Pooling=true; MAX Pool Size=512;Min Pool Size=5;Connection Lifetime=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity configSource="config\unity.config" />
  <nlog configSource="config\nlog.config" />
  <ioc.servicelocator name="UnityServiceLocator" type="DAL.UnityServiceLocator" />
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

    <caching>
    <outputCacheSettings>
      <outputCacheProfiles>
        <add duration="86400" enabled="true" name="WCFCache" varyByParam="*" location="Client" />
    <!--缓存一天-->
        <add duration="2592000" enabled="true" name="PageCache" varyByParam="*" location="Client" />
    <!--缓存一个月-->
      </outputCacheProfiles>
    </outputCacheSettings>
    <outputCache enableOutputCache="true" enableFragmentCache="true" sendCacheControlHeader="true" />
    <sqlCacheDependency enabled="true" pollTime="6000">
      <databases>
        <add name="WCFCommonDataOperator" connectionStringName="AFaneTiConectStr" />
      </databases>
    </sqlCacheDependency>
  </caching>
  </system.web>

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="login.aspx" />
                <add value="Index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RPShoping.Contract.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="RPShoping.Contract.Service1">
        <endpoint address="" behaviorConfiguration="RPShoping.Contract.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="RPShoping.Contract.Service1" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="appid" value="A6945248167961"/>
    <add key="appkey" value="8B57C137-F109-EBDD-9762-BCE9254D17CB"/>
  </appSettings>
</configuration>